<style>
  * {
  box-sizing: border-box;
}

body {
  margin: 0px 170px;
}

h1 {
  color: black;
  margin-bottom: 15px;
  font-family: 'Pangolin', cursive;
  text-align: center;
  padding: 25px;
}

section {
  border: 1px solid black;
  background-color: #EFE7DB;
  width: 90%;
  height: 90%;
  margin-top: 25px;
}

h2 {
  border: 1px solid black;
  font-family: 'Pangolin', cursive;
  width: 125px;
  float: right;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 0px;
}

p {
  font-family: 'Helvetica';
  color: black;
  text-align: left;
  margin: 70px 10px;
}

.orange {
  background-color: orange;
}

.apple {
  background-color: red;
}

.grape {
  background-color: purple;
}

</style>